{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block title %}User{% endblock title %}

{% block main %}
    <div class="content-user">
        <div class="content-user-delete">
            <form role="form" action="" method="post">{% csrf_token %}
                <div class="form-group">
                    <p> Are you sure you want to delete? Your entire account will be removed.</p>
                </div>
                <button type="submit" value="Confirm" class="btn btn-primary btn-block">Confirm</button>
            </form>
        </div>
    </div>
{% endblock main %}