{% load staticfiles %}

<div class="partial-relationships followers col-xs-12 col-md-6">
    <a class="partial-relationships-app" href="{% url 'shellac_app' person.username %}">
        <img class="partial-relationships-avatar followers img-responsive img-thumbnail"
             src="{% if person.avatar %}
                    {{ person.avatar.url }}
                  {% else %}
                    {% static 'shellac/assets/avatar.jpeg' %}
                  {% endif %}" alt="{{ person.username }}" />
    </a>
    <div class="partial-relationships-description followers">
        <a class="partial-relationships-url" href="{{person.get_absolute_url}}">
            <span class="partial-relationships-description-content lead">{{ person.username | truncatechars:15  }}</span><br />
        </a>
        <span class="partial-relationships-description-content"><em>Following: {{ person.joined|date:"M j, Y" }}</em></span><br />
        <div class="btn-group partial-relationships-action">
            <button type="button" class="btn btn-success follow">Follow</button>
            <button type="button" class="btn btn-danger block">Block</button>
        </div>
    </div>
</div>
