{% load staticfiles %}

<div class="partial-relationships person col-xs-12 col-sm-6" data-person="{{ person.username}}">
    <a class="partial-relationships-url" href="{{person.get_absolute_url}}">
        <img class="partial-relationships-avatar person img-responsive img-thumbnail"
             src="{% if person.avatar %}
                    {{ person.avatar.url }}
                  {% else %}
                    {% static 'shellac/assets/avatar.jpeg' %}
                  {% endif %}" alt="{{ person.username }}" />
    </a>
    <div class="partial-relationships-description person">
        <a class="partial-relationships-app" href="{% url 'shellac_app' person.username %}">
            <span class="partial-relationships-description-content username glyphicon glyphicon-headphones">&ThinSpace;{{ person.username | truncatechars:15  }}</span><br />
        </a>
        <span class="partial-relationships-description-content joined">{{ person.joined|date:"m/Y" }}</span><br />
        <span class="partial-relationships-description-content status">{% if person in user.person.get_friends %}friend{% else %}{% if person in user.person.get_following %}following{% elif person in user.person.get_followers %}follower{% elif person in user.person.get_blocked %}blocked{% endif %}{% endif %}</span>
        <div class="btn-group partial-relationships-action"
             data-status="{% if person in user.person.get_friends %}friend{% else %}{% if person in user.person.get_following %}following{% elif person in user.person.get_followers %}follower{% elif person in user.person.get_blocked %}blocked{% endif %}{% endif %}"></div>
        <!-- <button> placeholder-->
    </div>
</div>


