{% load staticfiles %}

<div class="partial-relationships person col-xs-12 col-md-offset-2 col-md-10" data-person="{{ person.username}}">
    <div class="partial-relationships-avatar person">
        <a href="{{ person.get_absolute_url}}">
            <img class="img-thumbnail" src="{% if person.avatar %}{{ person.avatar_thumb.url }}{% else %}{% static 'shellac/assets/avatar.jpeg' %}{% endif %}" alt="{{ person.username }}" />
        </a>
    </div>
    <div class="partial-relationships-detail person">
        <div class="partial-relationships-description person">
            <div class="partial-relationships-app">
                <a href="{% url 'shellac_app' person.username 'following' %}">
                    <span data-username="{{ person.username }}" class="partial-relationships-detail-content username icon-sound"></span>
                    <span class="mls"> {{ person.username | truncatechars:30  }}</span>
                </a>
                <div class="partial-relationships-description-content status label">{% if person in user.person.get_friends %}friend{% else %}{% if person in user.person.get_following %}following{% elif person in user.person.get_followers %}follower{% elif person in user.person.get_blocked %}blocked{% endif %}{% endif %}</div>
            </div>
            <div class="partial-relationships-description-content joined">Joined:&nbsp;{{ person.joined|date:"m/Y" }}</div>
        </div>
        <div class="btn-group partial-relationships-action" data-status="{% if person in user.person.get_friends %}friend{% else %}{% if person in user.person.get_following %}following{% elif person in user.person.get_followers %}follower{% elif person in user.person.get_blocked %}blocked{% endif %}{% endif %}"></div>
    </div>
</div>


