{% load staticfiles %}
{% load shellac_filters %}

<!--<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 media clip">-->
<div class="col-xs-offset-2 col-xs-10 col-sm-offset-6 col-sm-5 media clip">

    <div class="media-panel">
        <div class="ui360">

            <a class="media-url" href="{{ object.audio_file.url }}">
                <img class="media-img" src="{% if object.brand_thumb %}
                {{ object.brand_thumb.url }}{% else %}
                    {% static 'shellac/assets/seventyEight.png' %}
                {% endif %}"  alt="{{ object.title }}" />
                <dl class="media-description dl-horizontal">
                    <!-- media-description content -->
                    <dt class="">Title</dt>
                    <dd class="media-description-content title">{{ object.title }}</dd>
                    <dt class="">Description</dt>
                    <dd class="media-description-content description">{{ object.description }}</dd>
                    <dt class="">Created</dt>
                    <dd class="media-description-content created">{{ object.created|dayssince }}</dd>
                    <dt class="">User</dt>
                    <dd class="media-description-content username">{{ object.author.username }}</dd>
                    <dt class="">Categories</dt>
                    <dd class="media-description-content username">
                        {% for c in object.categories.all %}
                            {% if not forloop.first %}| {% endif %} {{ c }}
                        {% endfor %}
                    </dd>
                </dl>
                <div class="media-progress"></div>
            </a>
        </div>
    </div>

</div>