/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*
 * Footer
 */
/* Hide for mobile, show later */
@media (min-width: 768px) {
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
  }
  footer span {
    margin-right: 2em;
  }
}
@media (max-width: 768px) {
  footer {
    display: none;
  }
}
/*
* <main> styling
*/
/* lg (large desktops, 1200px and up) */
/* md (desktops, 992px and up) */
/* sm (tablets, 768px and up) */
@media (min-width: 769px) {
  main {
    width: 800px;
    margin: 0 auto;
  }
}
/* xs (phones) */
@media (max-width: 768px) {
  main {
    width: 100%;
  }
}
/* xs Nexus4 portrait*/
/* xs Nexus4 portrait*/
a.btn.navbar-btn {
  color: #777777;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
  padding: 0px;
}
.btn.btn-default.btn-file {
  padding: 0px;
  border: none;
}
.form-group ul.errorlist,
.form-signin ul.errorlist {
  list-style-type: none;
  padding-top: 5px;
  padding-left: 5px;
}
.form-group ul.errorlist li,
.form-signin ul.errorlist li {
  color: red;
}
textarea.form-control {
  height: 5em;
}
select#id_categories.form-control {
  height: 10em;
}
.upload-file-text {
  margin-top: 5px;
  margin-left: 5px;
}
.label {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  padding: 1.5px;
  box-sizing: padding-box;
  color: #000000;
}
.alert {
  position: fixed;
  z-index: 10000;
  width: 10em;
  height: 2.5em;
  bottom: 3em;
  margin-left: 50%;
  left: -5em;
  border: none;
  padding: 0.5em;
  text-align: center;
  font-size: 0.95em;
  color: black;
  background-color: #428bca;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.alert-warning {
  background-color: #f0ad4e;
}
.alert-success {
  background-color: #5cb85c;
}
.alert-info {
  background-color: #5bc0de;
}
.alert-danger {
  background-color: #d9534f;
}
dl.dl-horizontal dt {
  font-size: 1em;
}
dl.dl-horizontal dd {
  font-size: 1em;
}
/* lg (large desktops, 1200px and up) */
/* md (desktops, 992px and up) */
/* sm (tablets, 768px and up) */
/* xs (phones) */
@media (max-width: 767px) {
  dl.dl-horizontal dt {
    margin-top: 0.5em;
    font-size: 0.95em;
  }
  dl.dl-horizontal dd {
    font-size: 0.95em;
  }
}
/* xs Nexus4 portrait*/
/* xs Nexus4 portrait*/
/*
 * user
 */
.content-user .content-user-update {
  margin-top: 25px;
}
.content-user .content-user-detail .content-user-button {
  margin-top: 10px;
}
/*
* Clip detail
*/
.clip-detail-container {
  border: thin 1px #c2ccd1;
}
.clip-detail-container .clip-detail-img {
  margin-bottom: 1em;
}
.clip-detail-container .clip-detail-img img {
  max-width: 150px;
}
.clip-detail-container .clip-detail-description {
  margin-top: 1em;
  margin-bottom: 1em;
}
/* lg (large desktops, 1200px and up) */
/* md (desktops, 992px and up) */
/* sm (tablets, 768px and up) */
/* xs (phones) */
@media (max-width: 767px) {
  .clip-detail-container .clip-detail-description {
    margin-top: 0.5em;
  }
}
/* xs Nexus4 portrait*/
/* xs Nexus4 portrait*/
/*
 * Globals
 */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-bottom: 50px;
}
.error-messages span.help-block {
  color: #ff0000;
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
