{% load staticfiles %}

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 clip-detail">
    <a class="clip-detail-audio_file-anchor" href="{{object.audio_file.url}}">
        <img class="img-responsive clip-detail-brand" src="{% if object.brand %}{{ object.brand.url }}{% else %}{% static 'shellac/assets/seventyEight.png' %}{% endif %}" alt="clip brand" />
    </a>
    <div class="clip-detail-caption">
        <large class="lead text-center clip-detail-title">{{ object.title }}</large><br/>
        <small class="text-center clip-detail-description">{{ object.description |truncatewords:10}}</small><br/>
        <span class="text-center text-muted clip-detail-plays">Plays: {{ object.plays }}</span><br/>
        <span class="text-center text-muted clip-detail-status">Status: {{ object.status }}</span><br/>
    </div>
</div>