{% load shellac_tags %}
{% load staticfiles %}
{% get_latest_content shellac.clip 10 as objects %}

{% for object in objects %}
    <!-- media div -->
    <div class="col-sm-6 col-md-4 media clip">
        <!-- media-image -->
        <img class="media-img img-responsive" src="{% static 'shellac/assets/seventyEight.png' %}" alt="{{ object.title }}" />
        <!-- media-description div -->
        <div class="media-description">
            <!-- media-description content -->
            <p class='media-description-content'>{{ object.title }}</p>
            <!-- end media-description content -->
        </div>
        <!-- end media-description div -->
    </div>
    <!-- end media div -->
{% endfor object in objects %}