{% extends "jraywo/base.html" %}

{% block title %} {{ block.super }} | Latest Entries {% endblock title %}  

{% block content %}
  
  <form method="get" action="/search/">
      <p><label for="search">Search (title, author, body)</label></p>
      <input type="text" name="search_term" id="search">
      <input type="submit" value="Submit">	    	
  </form>
  
  <br>
  
  {% if object_list %}
    <p id="search-title" > Search results for "{{ query }}":</p>	
    {% for object in object_list %}
	<h2 class="title"><a class="title" href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>
	<p class="username">By {{ object.author }} <p>
	<p class="pub-date">Published {{ object.pub_date | date:"F j, Y" }}</p>
	
	<p class="body">
	    {% if object.excerpt_html %}
		{{ object.excerpt|safe }}
	    {% else %}
		{{ object.body_html|truncatewords_html:50| safe }}
	    {% endif %}
	</p>
    
	<span class="tags">Tags: {{ object.tags }}</span>    	
    {% endfor%}
  {% else %}
    <span class="no-result">No search results for {{ query }}</span>
  {% endif %}

{% endblock content %}