/*
 * Grid styling
 */

@import "../_elements";

@media_margin: 0px;
@media_clip_margin: 0px;
@media_clip_padding: 1px;
@grid_border_width: 2px;
@grid_border_color: #000000;

@caption_opacity: 0.8;
@caption_opacity_mobile: 0.70;
@caption_opacity_queued: 0.85;
@media_background_queued: #428BCA;
@progress_opacity: 1.0;

@media_desc_padding: 0.5em;
@media_dim_small: 175px;
@media_dim_medium: 250px;

@grid_img_dim: 100%;
@grid_checksz: 1.5em;

.shellac-grid-element {

  padding-left: 0px;
  padding-right: 0px;

  .shellac-grid-element-panel
  {
    position: relative;
    border-style: solid;
    border-width: @grid_border_width;
    border-color: @grid_border_color;
    padding: 2px;

    .shellac-img-panel
    {
      .shellac-grid-img
      {
        width: @grid_img_dim;
      }

    }

    .shellac-description-container {
      position:absolute; /* absolute position (so we can position it where we want)*/
      bottom:0px; /* position will be on bottom */
      left:0px;
      width:100%;
      padding: 2px;

      /* styling bellow */
      background: black;
      color: white;
      .opacity(@caption_opacity);
      margin-bottom: 0px;

      .shellac-description-content
      {
        font-size: larger;
      }
    }

    .shellac-media-check.queued{
      visibility: visible;
    }

    .shellac-media-check{
      visibility: hidden;
      color: green;
      font-size: 1.5em;
    }


  }


}

.shellac-grid-element.no-content{
  position: relative;
  top: 5em;
  text-align: center;
}

@media (max-width: 768px)
{
  .shellac-grid-element {

    .shellac-grid-element-panel
    {
      .shellac-img-panel
      {
        .shellac-grid-img
        {}
      }

      .shellac-description-container
      {
        .shellac-description-content
        {
          font-size: smaller;
        }
      }

      .shellac-media-check.queued
      {}

      .shellac-media-check
      {}
    }
  }
}

@media (max-width: 640px)
{
  .shellac-grid-element {

    .shellac-grid-element-panel
    {
      .shellac-img-panel
      {
        .shellac-grid-img
        {}
      }

      .shellac-description-container
      {
        .shellac-description-content
        {
          font-size: smaller;
        }
      }

      .shellac-media-check.queued
      {}

      .shellac-media-check
      {}
    }
  }
}

@media (max-width: 480px)
{
  .shellac-grid-element {

    .shellac-grid-element-panel
    {
      .shellac-img-panel
      {
        .shellac-grid-img
        {}
      }

      .shellac-description-container
      {
        .shellac-description-content
        {
          font-size: x-small;
        }
      }

      .shellac-media-check.queued
      {}

      .shellac-media-check
      {}
    }
  }
}

