/*
 * Modal
 */
.modal
{
  .modal-dialog
  {
    .modal-content
    {
      .modal-header
      {
        border-bottom: none;
      }
      .modal-body
      {
        border-top: none;
      }
      .modal-footer
      {
        border-top: none;
         button
         {
           position: absolute;
           bottom: 1em;
           right: 1em;
         }
      }
    }
  }
}

@media (max-width: 767px)
{
}

@media (max-width: 480px)
{
}

