{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block title %}User{% endblock title %}

{% block main %}
    <div class="content-user">
        <div class="content-clip-delete">
            <form role="form" action="" method="post">{% csrf_token %}
                <div class="form-group">
                    <p class="confirm-delete-message">Confirm delete "{{ object.title }}" by {{ object.author.username }}</p>
                </div>
                <button id="confirm_delete" type="submit" value="Confirm" class="btn btn-primary btn-block">Confirm</button>
            </form>
        </div>
    </div>
{% endblock main %}