{% extends "shellac/base.html" %}
{% load staticfiles %}
{% load shellac_filters %}

<!-- Head -->
    {% block title %}Permalink{% endblock title %}
    {% block head %}
        <script type="text/javascript"></script>
    {% endblock head %}

<!-- Main -->
    {% block main %}
        <div class="permalink-container">
            <div class="permalink-content">
                {% include 'shellac/partials/clips/clip_detail.html' %}
            </div>
            <div class="permalink-comments">
                <p>TODO -- Comment form</p>
            </div>
        </div>
    {% endblock main %}

