{% extends "shellac/base.html" %}
{% load shellac_filters %}
{% load staticfiles %}
<!-- Head -->
    {% block title %}Record{% endblock title %}
    {% block head %}
        <script src="{% static 'shellac/js/lib/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js' %}"></script>
        <link rel="stylesheet" href="{% static 'shellac/js/lib/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css' %}">
        <script type="text/javascript">
             $(function() {
                $("#datetimepicker").datetimepicker({
                    format: "yyyy-mm-dd hh:ii:ss"
                });
                $('input[type=file]').change(function(e){
                    var file, name, type, size, text;
                    file = $(this).prop('files')[0];
                    name = file.name;
                    type = file.type;
                    size = (file.size / (1024 * 1024)).toFixed(1);
                    text = String() + name + " | " + type + " | " + size + " MB";
                    $(this).siblings('.btn').html(text);
                });
             });
        </script>
    {% endblock head %}

<!-- Main -->
    {% block content %}
    <div class="col-xs-offset-0 col-xs-12 col-md-offset-3 col-md-6 record">
        <form class="form-signin" role="form" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-lg btn-primary btn-block" id="record_submit" type="submit">Submit</button>
        </form>
        {{ form.non_field_errors }}


    </div>
    {% endblock content %}


