{% extends "shellac/base.html" %}
{% load shellac_filters %}
{% load staticfiles %}
<!-- Head -->
    {% block title %}Record{% endblock title %}
    {% block head %}
        <script src="{% static 'shellac/js/lib/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js' %}"></script>
        <link rel="stylesheet" href="{% static 'shellac/js/lib/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css' %}">
        <script type="text/javascript">
             $(function() {
                console.log($('#datetimepicker').datetimepicker().attr('data-date') === '');
                if( $('#datetimepicker').datetimepicker().attr('data-date') === '' ){
                   $('#datetimepicker').datetimepicker('update', new Date() );
                };
                $("#datetimepicker").datetimepicker({
                    startView: 2,
                    format: "yyyy-mm-dd, hh:mm",
                    todayBtn: true
                });
                $('input[type=file]').change(function(e){
                    var file, name, type, size, text;
                    file = $(this).prop('files')[0];
                    name = file.name;
                    type = file.type;
                    size = (file.size / (1024 * 1024)).toFixed(2);
                    text = String() + name + " | " + type + " | " + size + " MB";
                    $(this).siblings('.btn').html(text);
                });
             });
        </script>
    {% endblock head %}

<!-- Main -->
    {% block content %}
    <div class="col-xs-12 col-sm-offset-1 col-sm-10 record">
        <form class="form-signin" role="form" enctype="multipart/form-data" action="" method="POST">{% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <p>{{ field.errors }}</p>
                    {{ field.label_tag }}&nbsp;{{ field.help_text }}

                    {% if field.label == 'Created' %}
                        <div class="input-append date" id="datetimepicker" data-date="{{ field.value|date:'Y-m-d h:i' }}" >
                            <input id="id_created" class="form-control" type="text" value="{{ field.value|date:'Y-m-d h:i' }}" name="created" required>
                            <span class="add-on"><i class="icon-th"></i></span>
                        </div>
                    {% elif field.label == 'Brand' or field.label == 'Audio file' %}
                        <span class="btn btn-default btn-file btn-block brand">
                            <button class="btn btn-primary btn-lg btn-block brand" type="button">Add {{ field.label }}</button>
                            <input id="{{ field.id_for_label }}" type="file" name="{{ field.html_name }}">
                        </span>
                    {% else %}
                        {{ field | add_class:"form-control" }}
                    {% endif %}
                </div>
            {% endfor %}
            <button class="btn btn-lg btn-primary btn-block" id="record_submit" type="submit">Submit</button>

        </form>
    </div>
    {% endblock content %}


