{% load staticfiles %}

<!-- profile div -->
<div class="partial-profile person">
    <!-- profile-image -->
    <div class="partial-profile-avatar person">
        <a href="{{person.get_absolute_url}}">
            <img src="{% if person.avatar %} {{ person.avatar.url }}
            {% else %}{% static 'shellac/assets/avatar.jpeg' %}{% endif %}" alt="{{ person.username }}" />
        </a>
    </div>
    <div class="partial-profile-description person">
        <p class="partial-profile-description-content email">
            <a class="partial-profile-app" href="{% url 'shellac_app' person.username %}">
                <span class="glyphicon glyphicon-headphones">&nbsp;</span>{{ person.username }}
            </a>
        </p><hr/>
        <p class="partial-profile-description-content joined">{{ person.joined|date:"M d, Y" }}</p>
    </div>
    <!-- end profile-description div -->
</div>
<!-- end profile div -->