{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block title %}App{% endblock title %}
    {% block head %}
        <script type="text/javascript">
            var user = "{{ user.username }}",
                target_username = "{{ person.username }}",
                status = "{{ status }}",
                playlist_id = "{{ playlist.id }}",
                DEBUG = "{{ debug }}";
        </script>
        <script type="text/javascript" src="{% static 'shellac/js/dist/app_bundle.js' %}"></script>
    {% endblock head %}


<!-- Navbar -->
    {% block navbar-header-brand %}
    <a data-toggle="tooltip" data-placement="bottom" title="My Playlist" class="navbar-brand" href="{% url 'shellac_app' %}">
        <span class="icon-sound"></span><span class="mls"> SHELLAC</span>
    </a>
    <a data-toggle="tooltip" data-placement="bottom" title="Sidebar" role="button" class="btn navbar-btn sidebar-toggle">
        <span class="icon-list2"></span><span class="mls"></span>
    </a>
    {% endblock navbar-header-brand %}


<!-- Main -->
    {% block main %}
        <div id="shellac-app"></div>
    {% endblock main %}


<!-- Footer -->



