{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block title %}App{% endblock title %}
    {% block head %}
        <script type="text/javascript">
            var user = "{{ user.username }}",
                target_username = "{{ person.username }}",
                status = "{{ status }}",
                DEBUG = "{{ debug }}";
        </script>
        <script type="text/javascript" src="{% static 'shellac/js/dist/app_bundle.js' %}"></script>
    {% endblock head %}


<!-- Navbar -->
    {% block navbar-header %}

        <button type="button" class="btn btn-default navbar-btn sidebar-toggle">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
        {{ block.super }}
    {% endblock navbar-header %}



<!-- Main -->
    {% block main %}
        <div id="shellac-app"></div>
    {% endblock main %}


<!-- Footer -->



