{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block head %}
         <script type="text/javascript"> var username = "{{ user.username }}", DEBUG = "{{ debug }}"</script>
         <script type="text/javascript" src="{% static 'shellac/js/dist/relationships_bundle.js' %}"></script>
    {% endblock head %}

    {% block title %}People{% endblock title %}

<!-- Navigation bar -->
    {% block navbar-right-form %}
    <form class="navbar-form navbar-right" method="GET" action="/search/">
        <input type="text" name="search_term" id="search" class="form-control" placeholder="Find people...">
    </form>
    {% endblock navbar-right-form %}

<!-- Content -->
    {% block content %}
        {% if query %}
            <p id="search-title" > Search results for "{{ query }}":</p>
        {% endif %}
        <div id="shellac-people-relationships" class="content-relationships people clearfix">
            {% for person in page_obj.object_list %}
                {% if person != user.person %}
                    {% include 'shellac/partials/relationships/person.html' %}
                {% endif %}
            {% endfor %}
        </div>

        <ul class="pagination col-xs-offset-3 col-xs-9">

            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
            {% endif %}

            {% for page_num in paginator.page_range %}
                {% if page_obj.number == page_num %}
                    <li class="disabled"><a href="#">{{ page_obj.number }}</a></li>
                {% else %}
                    <li><a href="{% url 'shellac_people' %}?page={{ page_num }}">{{ page_num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endblock content %}