{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block title %}Profile{% endblock title %}
    {% block head %}
        <script type="text/javascript">
             $(function() {
                $('input[type=file]').change(function(e){

                    var file, name, type, size, text;

                    file = $(this).prop('files')[0];
                    if( typeof (file) === 'object' )
                    {
                        name = file.name;
                        type = file.type;
                        size = (file.size / (1024 * 1024)).toFixed(1);
                        text = String() + "File selected: " + name + " (" + type + " | " + size + " MB)";
                        console.log('changed %s', text);
                    }

                    console.log($('.partial-profile-avatar .partial-profile-avatar-img_panel .btn.save'));
                });
             });
        </script>
    {% endblock head %}

<!-- main -->
    {% block main %}

    <div class="content-profile">

        <div class="partial-profile">
            <h2>Under CoNsTrUcTiOn</h2>

            <div class="partial-profile-avatar">
                <div class="partial-profile-avatar-img_panel">
                    <form enctype="multipart/form-data" class="form-group" role="form" action="" method="post">{% csrf_token %}

                        <div class="btn btn-default btn-file partial-profile-avatar-img_panel-input_panel">
                            <img class="img-circle" src="
                            {% if person.avatar %}
                                {{ person.avatar.url }}
                            {% else %}
                                {% static 'shellac/assets/avatar.jpeg' %}
                            {% endif %}" alt="{{ person.username }}" />
                            <input id="id_avatar" type="file" name="avatar">
                        </div>
                        {% if person == user.person %}
                            <button role="button" type="submit" value="Update" class="btn btn-primary update">Save</button>
                        {% endif %}
                        <!-- END partial-profile-avatar-img_panel-input_panel -->
                    </form>
                </div>
                <!-- END partial-profile-avatar-img_panel -->

                <div class="partial-profile-avatar-app_panel">
                    <a href="{% url 'shellac_app' person.username 'following' %}">
                        <span class="icon-sound"></span><span class="mls"> {{ person.username }}</span>
                    </a>
                </div>
                <!-- END partial-profile-avatar-app_panel -->
            </div>
            <!-- END partial-profile-avatar -->

            <div class="partial-profile-description">
                <p class="partial-profile-description-content joined">{{ person.joined|date:"M d, Y" }}</p>
            </div>
            <!-- END partial-profile-description -->

        </div>
        <!-- END partial-profile-->

    </div>
    {% endblock main %}