{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block title %}Profile{% endblock title %}
    {% block head %}
        <script type="text/javascript">
             $(function() {
                $('input[type=file]').change(function(e){
                    var file, name, type, size, text;
                    file = $(this).prop('files')[0];
                    name = file.name;
                    type = file.type;
                    size = (file.size / (1024 * 1024)).toFixed(1);
                    text = String() + "File selected: " + name + " (" + type + " | " + size + " MB)";
                    $('.upload-file-text').html(text);
                });
             });
        </script>
    {% endblock head %}

<!-- main -->
    {% block main %}

    <div class="content-profile">
        <div class="partial-profile person">
            <form enctype="multipart/form-data" class="form-group" role="form" action="" method="post">{% csrf_token %}
                <div class="partial-profile-avatar person">
                    {% if person == user.person %}
                    <span class="btn btn-default btn-file">
                        <img src="{% if person.avatar %} {{ person.avatar_thumb.url }}
                            {% else %}{% static 'shellac/assets/avatar.jpeg' %}{% endif %}" alt="{{ person.username }}" />
                        <input id="id_avatar" type="file" name="avatar">
                    </span>
                    {% else %}
                    <img src="{% if person.avatar %} {{ person.avatar_thumb.url }}
                        {% else %}{% static 'shellac/assets/avatar.jpeg' %}{% endif %}" alt="{{ person.username }}" />
                    {% endif %}
                </div>
                <div class="partial-profile-description person">
                    <p class="partial-profile-description-content email">
                        <a class="partial-profile-app" href="{% url 'shellac_app' person.username 'following' %}">
                            <span class="icon-sound"></span><span class="mls"> {{ person.username }}</span>
                        </a>
                    </p><hr/>
                    <p class="partial-profile-description-content joined">{{ person.joined|date:"M d, Y" }}</p>
                </div>
                <span class="clearfix"></span>
                {% if person == user.person %}
                    <button type="submit" value="Update" class="btn btn-primary update">Update</button>
                    {{ form.avatar.errors }}
                    <p class="upload-file-text"></p>
                {% endif %}
            </form>
        </div>
    </div>
    {% endblock main %}