{% extends "shellac/base.html" %}
{% load staticfiles %}
<!-- Head -->
    {% block head %}
    <script type="text/javascript"> var username = "{{ user.username }}", DEBUG = "{{ debug }}"</script>
    <script type="text/javascript" src="{% static 'shellac/js/dist/relationships_bundle.js' %}"></script>
    {% endblock head %}
    {% block title %}Tune{% endblock title %}

<!-- Content -->
    {% block content %}
    <div class="content-tune">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="panel-title-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFollowing">
                            Following
                        </a>
                    </h4>
                </div>
                <div id="collapseFollowing" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="content-tune-relationship following">
                            {% for person in user.person.get_following %}
                                {% include 'shellac/partials/relationships/person.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="panel-title-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFollowers">
                            Followers
                        </a>
                    </h4>
                </div>
                <div id="collapseFollowers" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="content-tune-relationship followers">
                            {% for person in user.person.get_followers %}
                                {% include 'shellac/partials/relationships/person.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="panel-title-link" data-toggle="collapse" data-parent="#accordion" href="#collapseFriends">
                            Friends
                        </a>
                    </h4>
                </div>
                <div id="collapseFriends" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="content-tune-relationship friends">
                            {% for person in user.person.get_followers %}
                                {% include 'shellac/partials/relationships/person.html' %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
    {% endblock content %}