{% extends "shellac/base.html" %}
<!-- Head -->
{% block title %}Tune{% endblock title %}
{% block content %}
<div class="content-tune">
    <div class="content-tune-relationship following clearfix">
        <h4 class="content-tune title">Following</h4>
        {% for person in user.person.get_following %}
            {% include 'shellac/partials/relationships/following.html' %}
        {% endfor %}
    </div>

    <div class="content-tune-relationship following clearfix">
        <h4 class="content-tune title">Following</h4>
        {% for person in user.person.get_following %}
            {% include 'shellac/partials/relationships/following.html' %}
        {% endfor %}
    </div>
</div>
{% endblock content %}