/*
 * Media
 */

@import "_elements";

@media_margin: 0px;
@media_clip_margin: 0px;
@media_clip_padding: 1px;
@media_border_width: 2px;
@media_border_color: #000000;

@caption_opacity: 0.8;
@caption_opacity_playing: 0.8;
@progress_opacity: 1.0;

@media_desc_padding: 0.5em;
@media_dim_small: 175px;
@media_dim_medium: 250px;

@media_img_dim: 100%;

.media, .media .media{
    margin: @media_margin;
}

.media.clip {

  padding-left: 0px;
  padding-right: 0px;
  padding: @media_clip_padding;

  .media-panel
  {
    position: relative;
    border-style: solid;
    border-width: @media_border_width;
    border-color: @media_border_color;

    .media-description.dl-horizontal {
      position:absolute; /* absolute position (so we can position it where we want)*/
      bottom:0px; /* position will be on bottom */
      left:0px;
      width:100%;
      padding: @media_desc_padding;

      /* styling bellow */
      background: black;
      color: white;
      .opacity(@caption_opacity);
      margin-bottom: 0px;

      dd{
        font-size:1.1em;
        margin-left: 0px;
      }

    }
    span.posted{
      font-size:1.2em;
      position: absolute;
      top:5px;
      right: 8px;
    }

    .media-description.played{
      background-color: #428BCA;
      background: #428BCA;
      color: white;
      .opacity(@caption_opacity);
    }

    .media-description.playing{
      background-color: darkgreen;
      background: darkgreen;
      color: white;
      .opacity(@caption_opacity_playing);
    }


    .media-progress{
      position:absolute; /* absolute position (so we can position it where we want)*/
      top:0px; /* position will be on bottom */
      left:0px;
      width:90%;

      padding: @media_desc_padding;
      padding-left: 2*@media_desc_padding;

      /* styling bellow */
      background-color: transparent;
      background: transparent;
      color: white;
      .opacity(@progress_opacity);

      .progress{
        /* the height of the progress bar */
        height: 0.7em;
      }

    }

    .media-img{
      width: @media_img_dim;
    }
  }


}

.media.clip:hover {
    cursor: pointer;
}

.clip.no-content{
  position: relative;
  top: 5em;
  text-align: center;
}

@media (max-width: 768px)
{
  .media.clip {

    .media-panel {

      .media-description.dl-horizontal {
        font-size: 0.9em;
        line-height: 1.1em;
        .media-description-content.lead {
          font-size: 1em;
        }

        dd.categories {
          display: none;
        }

      }
      span.posted {
        font-size: 0.9em;
      }
    }
  }
}

