/*
* Permalink
*/

@import "_elements";

@permalink_margin: 0px;

@caption_opacity: 0.8;

@permalink_desc_padding: 0.5em;
@permalink_dim_small: 125px;
@permalink_dim_medium: 150px;

@permalink_img_dim: 250px;

.permalink {

  .permalink-panel
  {
    .permalink-img {

      img {
        max-width: @permalink_dim_medium;
      }
    }

    .permalink-description {
      dt
      {
        font-size: 1.0em;
        margin-top: 0em;
        margin-right: 1em;
      }

      dd
      {
        font-size:1.1em;
      }

    }

  }

}

@media (max-width: 767px)
{
}

@media (max-width: 480px)
{
  .permalink {
    .permalink-panel
    {
      .permalink-img
      {
        margin-bottom: 1em;
        img
        {
          max-width: @permalink_dim_small;
        }
      }
      .permalink-description
      {}
    }
  }
}

