/*
 * partials/profile/person
 */
@import "_elements";
@profile_avatar_dim: 200px;
@profile_descr_margin: 25px;
@margin-top: 25px;

.content-profile
{
    .partial-profile
    {
        margin-top: @margin-top;
        .partial-profile-avatar
        {
            float: left;
            img
            {
                width: @profile_avatar_dim;
            }
        }
        .partial-profile-description
        {
            margin-left: @profile_avatar_dim + @profile_descr_margin;
            padding-top: @margin-top;
        }
    }
}


@media (max-width: 480px)
{
    .content-profile
    {
        text-align: center;
        .partial-profile
        {
            .partial-profile-avatar
            {
                float: none;
                img
                {
                }
            }
            .partial-profile-description
            {
                margin-left: 0px;
            }
        }
    }
}