/*
 * partials/profile/person
 */
@import "_elements";

@profile_margin_bottom: 4px;
@profile_margin_top: 0px;
@profile_margin_left: 12em;
@profile_caption_opacity: 0.7;
@profile_desc_padding: 1em;
@profile_avatar_max_dim: 15em;

.partial-profile-person {

    img.partial-profile-person-avatar{
        left: 2em;
        width: @profile_avatar_max_dim;
        height: @profile_avatar_max_dim;
        float: left;
    }

    .partial-profile-person-description{
        height: @profile_avatar_max_dim;
        margin-left: @profile_avatar_max_dim + 1em;
        padding: @profile_desc_padding;
        padding-left: 2*@profile_desc_padding;

        /* styling bellow */
        background-color: black;
        background: black;
        color: white;
        .opacity(@profile_caption_opacity);
    }



}

@media (max-width: 768px) {
}
