/*
 * partials/relationship
 */
@import "_elements";

@relationships_margin_bottom: 1em;
@relationships_margin_top: 1em;
@relationships_margin_left: 12em;
@relationships_caption_opacity: 1.0;
@relationships_desc_padding: 0.8em;
@relationships_avatar_max_dim: 6em;


.partial-relationships {

    margin-top: @relationships_margin_top;
    width: 600px;
    padding: 0px;

    img.partial-relationships-avatar{
      left: 2em;
      width: @relationships_avatar_max_dim;
      height: @relationships_avatar_max_dim;
      float: left;
    }

    .partial-relationships-description{

        position: relative;

        height: @relationships_avatar_max_dim;
        margin-left: @relationships_avatar_max_dim;
        padding: @relationships_desc_padding  * 0.8;
        padding-left: 2*@relationships_desc_padding;
        color: #343434;

        .partial-relationships-description-content{
            font-size: 0.9em;
        }

        .btn-group.partial-relationships-action{
            position: absolute;
            top: 25%;
            right: 0em;
            button{
                color: #000000;
                font-size: 0.9em;
            }
        }
    }
}

@media (max-width: 768px) {
  .panel-body
  {
    padding: 0px;
  }

  .partial-relationships {

    width: 100%;

    .partial-relationships-avatar{
    }

    .partial-relationships-description{

      .partial-relationships-description-content.joined{
      }

      .btn-group.partial-relationships-action{
        button{
        }
      }
    }
  }
}
