/*
 * partials/relationship
 */
@import "_elements";

@relationships_margin: 1em;
@relationships_caption_opacity: 1.0;
@relationships_padding: 0.8em;

@relationships_width: 600px;
@relationships_avatar_dim: 0.2 * @relationships_width;
@relationships_desc_width: 0.8 * @relationships_width;

@border_debug: none; //solid thin #c2ccd1; //none;
@border: solid thin #c2ccd1;
.partial-relationships {
  border: @border_debug;

  width: @relationships_width;
  margin-top: @relationships_margin;
  padding: 0px;

  .partial-relationships-avatar{
    border: @border_debug;
    img
    {
      left: 2em;
      width: @relationships_avatar_dim;
      padding: @relationships_padding * 0.8;
    }

    float: left;
  }
  .partial-relationships-detail
  {
    border: @border;
    height: @relationships_avatar_dim;

    .partial-relationships-description{
      border: @border_debug;

      position: relative;
      margin-left: @relationships_avatar_dim;
      padding: @relationships_padding;

      .partial-relationships-description-content
      {
      }
    }

    .partial-relationships-action
    {
      border: @border_debug;
      margin-left: @relationships_margin;
    }
  }
}

@media (max-width: 768px)
{
  .partial-relationships {
    width: 100%;

    .partial-relationships-avatar{
      img
      {
      }
    }

    .partial-relationships-detail {
      .partial-relationships-description {
        .partial-relationships-description-content {
        }
      }

      .partial-relationships-action {
      }
    }
  }
}
