/*
 * partials/relationship
 */
@import "_elements";

@relationships_margin_bottom: 1em;
@relationships_margin_top: 1em;
@relationships_margin_left: 12em;
@relationships_caption_opacity: 0.7;
@relationships_desc_padding: 0.8em;
@relationships_avatar_max_dim: 5em;

.partial-relationships {

    margin-top: @relationships_margin_top;

    img.partial-relationships-avatar{
        left: 2em;
        width: @relationships_avatar_max_dim;
        height: @relationships_avatar_max_dim;
        float: left;
    }

    .partial-relationships-description{

        position: relative;

        height: @relationships_avatar_max_dim;
        margin-left: @relationships_avatar_max_dim;
        padding: @relationships_desc_padding;
        padding-left: 2*@relationships_desc_padding;

        /* styling below */
        background-color: black;
        background: black;
        color: white;
        .opacity(@relationships_caption_opacity);

        .partial-relationships-description-content.joined{
            font-size: 1em;
        }

        .btn-group.partial-relationships-action{
            position: absolute;
            top: 25%;
            right: 2em;
            button{
                color: #000000;
                font-size: 0.9em;
            }
        }
    }
}

@media (max-width: 768px) {
}
