/*
 * Sidebar
 */

/* Hide for mobile, show later */
.nav-expanded .shellac-app.sidebar {
  left: 0em;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
}

.shellac-app.sidebar {
  background: #222222;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -13.5em;
  font-size: 15px;
  top: 51px;
  width: 15em;
  z-index: 2000;

  border-color: #111111;
  opacity: 0.9;

  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;

}


@media (max-width: 768px) {
  .shellac-app.sidebar{
    width: 15em;
    font-size: 1.0em;
  }
}
