/*
 * Status bar
 */

.shellac-app-statusbar{
  position: fixed;
  background: #222222;
  display: block;

  color: white;
  font-size: 1em;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;

  height: 3em;
  margin-right: 0;
  padding-left: 1.0em;
  padding-top: 0.8em;
  bottom: 200px;
  right: 0;

  width: 100%;
  z-index: 12;
//  opacity: 0.75;
}

@media (max-width: 768px) {
//  .shellac-app-statusbar{
//    width: 42%;
//  }
}