{% extends "shellac/base.html" %}
{% load i18n %}


<!-- Head -->
    {% block title %}Sign up{% endblock title %}


<!-- Navbar -->
     {% block navbar %}
    <ul>
        <li>
            <a href="{% url 'shellac_accounts_signin' %}">
                Sign in
            </a>
        </li>
    </ul>
    {% endblock navbar %}


<!-- Main -->
    {% block main %}
    <div>
        <form role="form" action="" method="POST">{% csrf_token %}
            <h3 class="form-login-heading">Sign up</h3>
            {{ form.username.errors }}
            <input type="text" autocapitalize="none" id="signup_username" name="username" placeholder="User Name" required autofocus>
            {{ form.email.errors }}
            <input type="email" id="signup_email" name="email" placeholder="Email" required>
            {{ form.password1.errors }}
            <input type="password" autocapitalize="none" id="signup_password1" name="password1" placeholder="Password" required>
            {{ form.password2.errors }}
            <input type="password" autocapitalize="none" id="signup_password2" name="password2" placeholder="Password Confirm" required><br/>
            <button id="signup_submit" type="submit">Submit</button>
        </form>
    </div>
    {% endblock main %}
