{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block title %}About{% endblock title %}

<!-- Main -->
    {% block main %}
        <div class="shellac-info about">

            <div class="shellac-info-header">
                <div class="">
                    <h2>About</h2>
                    <ul class="list-inline">
                        <li><h2><small>Publish</small></h2></li>
                        <li><h2><small>Curate</small></h2></li>
                        <li><h2><small>Listen</small></h2></li>
                    </ul>
                    <ul class="list-inline">
                        <li>Pre-Game and Post-Game</li>
                        <li>Game-Time Analysis</li>
                        <li>In the News</li>
                        <li>Business & Culture of Sport</li>
                    </ul>
                </div>
            </div>
            <hr/>


            <div class="shellac-info-section">
                <div class="shellac-info-section-header">
                    <h2>Features<small></small></h2>
                </div>
                <div class="shellac-info-section-detail">
                    <dl class="dl-horizontal">
                    <dt>Play</dt>
                    <dd><ul class="list-inline"><li>Full-featured player</li></ul></dd>

                    <dt>Save</dt>
                    <dd><ul class="list-inline"><li>Create and save playlists</li></ul></dd>

                    <dt>Record</dt>
                    <dd>Audio support
                        <ul class="list-inline">
                            <li>.mp3</li>
                            <li>.ogg</li>
                            <li>.wav</li>
                        </ul>
                    </dd>

                    <dt>Brand</dt>
                    <dd><ul class="list-unstyled"><li>Post images with each clip</li></ul></dd>

                    <dt>Follow</dt>
                    <dd><ul class="list-unstyled"><li>Listen only to those you choose to follow</li></ul></dd>

                    <dt>Search</dt>
                    <dd><ul class="list-unstyled"><li>Find people and clips</li></ul></dd>

                    <dt>Track</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Number of Plays</li>
                            <li>Ratings</li>
                        </ul>
                    </dd>

                    <dt>Meta</dt>
                    <dd>
                        <ul class="list-unstyled">
                            <li>Tags</li>
                            <li>Comments <em>(coming soon)</em></li>
                        </ul>
                    </dd>

                    <dt>Authenticate</dt>
                    <dd>Login through
                        <ul class="list-inline">
                            <li><a href="https://www.facebook.com/">Facebook</a></li>
                            <li><a href="https://twitter.com/">Twitter</a></li>
                            <li><a href="https://soundcloud.com/">SoundCloud</a></li>
                        </ul>
                    </dd>

                    <dt>Analyze</dt>
                    <dd>Audience statistics<em>(coming Soon)</em>
                    </dd>
                </dl>
                <div/>
            <div/>
            <hr/>


            <div class="shellac-info-section">
                <div class="shellac-info-section-header">
                    <h2>Technology Stack<small></small></h2>
                </div>
                <div class="shellac-info-section-detail">
                    <dl class="dl-horizontal">
                        <dt>Web Framework</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="https://www.djangoproject.com/">Django (v1.7)</a></li>
                            </ul>
                        </dd>

                        <dt>Servers</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="http://wiki.nginx.org/Main">nginx</a></li>
                                <li><a href="http://gunicorn.org/">gunicorn</a></li>
                            </ul>
                        </dd>


                        <dt>Process control</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="http://supervisord.org/">Supervisor</a></li>
                                <li><a href="http://www.celeryproject.org/">Celery (Under Construction)</a></li>
                            </ul>
                        </dd>

                        <dt>Storage</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="http://dev.mysql.com/">MySql (v5.5)</a></li>
                                <li><a href="http://aws.amazon.com/s3/">Amazon S3</a></li>
                            </ul>
                        </dd>

                        <dt>Styling</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="http://lesscss.org/">Less</a></li>
                            </ul>
                        </dd>

                        <dt>Single-Page App (SPA)</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">Javascript</a></li>
                                <li><a href="http://jquery.com/">jQuery</a></li>
                                <li><a href="http://www.schillmania.com/projects/soundmanager2/">SoundManager2</a></li>
                                <li><a href="http://www.taffydb.com/">TAFFYdb</a></li>
                                <li><a href="http://gruntjs.com/">Grunt</a></li>
                                <li><a href="http://bower.io/">Bower</a></li>
                            </ul>
                        </dd>

                        <dt>Application Programming Interface (API)</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="http://www.django-rest-framework.org/">Django Rest Framework</a></li>
                            </ul>
                        </dd>

                        <dt>Testing</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="http://mochajs.org/">Mocha</a></li>
                                <li><a href="http://selenium-python.readthedocs.org/">Selenium (Python)</a></li>
                                <li><a href="http://jenkins-ci.org/">Jenkins</a></li>
                            </ul>
                        </dd>

                        <dt>Version Control & Deployment</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="http://www.fabfile.org/">Fabric</a></li>
                                <li><a href="http://git-scm.com/">Git</a></li>
                                <li><a href="https://github.com/">GitHub</a></li>
                            </ul>
                        </dd>

                        <dt>Authentication</dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li><a href="http://psa.matiasaguirre.net/">Python Social Auth</a></li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    {% endblock main %}


