{% extends "shellac/base.html" %}
{% load staticfiles %}

<!-- Head -->
    {% block title %}Start{% endblock title %}
    {% block head %}
    {% endblock head %}

<!-- Main -->
    {% block main %}
        <div class="shellac-info started">

            <div class="shellac-info-header">
                <h2>Getting Started</h2>
            </div>
            <hr/>

            <div class="shellac-info-section">
                <div class="shellac-info-section-header">
                    <h2>
                        <small>Navigation Bar</small>
                    </h2>
                    <p>
                        The navigation bar is affixed atop and collapses into the <span class="glyphicon glyphicon-align-justify"></span> icon (top, right) in mobile browsers.
                    </p>
                </div>
                <div class="shellac-info-section-detail">
                    <dl class="dl-horizontal">
                        <dt><span class="icon-users"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>People: List users by date joined</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-flow-tree"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Relations: Follow or Unfollow people</li>
                                <li>Manages your playlist feed</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-list"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Clips: View a list of your clips. Update / Delete</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-add-to-list"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Upload: Upload a new Clip</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-cog"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Settings: Dropdown menu</li>
                                <li><span class="icon-vcard"></span><span class="mls"> My Account</span></li>
                                <li><span class="icon-logout"></span><span class="mls"> Sign Out</span></li>
                                <li>Site information</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <hr/>

            <div class="shellac-info-section">
                <div class="shellac-info-section-header">
                    <h2>
                        <small>
                            <a href="{% url 'shellac_app' %}">Audio Player</a>
                        </small>
                    </h2>
                    <p>
                        Clicking the &nbsp;<span class="glyphicon glyphicon-headphones"></span>&nbsp; navigates to the player page.
                        The clips shown are those from people that you have chosen to 'follow'. The audio player is affixed at the bottom.
                    </p>
                </div>
                <div class="shellac-info-section-detail">
                    <dl class="dl-horizontal">
                        <dt><span class="icon-play"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Play the current item in the queue</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-first"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Play the previous item in the queue</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-last"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Play the next item in the queue</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-bookmarks"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Save playlist and clip positions</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-volume"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Adjust volume (disabled mobile)</li>
                            </ul>
                        </dd>

                        <dt><span class="icon-list2"></span><span class="mls"></span></dt>
                        <dd>
                            <ul class="list-unstyled">
                                <li>Toggle playlist menu</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <hr/>

            <div class="shellac-info-section">
                <div class="shellac-info-section-header">
                    <h2>
                        <small>Sidebar</small>
                    </h2>
                    <p>
                        Clicking the <span class="icon-list2"></span><span class="mls"> </span> on the player page toggles the sidebar.
                    </p>
                </div>
                <div class="shellac-info-section-detail">
                    <dl class="dl-horizontal">
                        <dt>Search <span class="glyphicon glyphicon-search"></span></dt>
                        <dd>
                            <ul class="list-inline">
                                <li>Title</li>
                                <li>Author</li>
                                <li>Tags</li>
                                <li>Description</li>
                            </ul>
                        </dd>

                        <dt>Filters</dt>
                        <dd>
                            <ul class="list-inline">
                                <li>Category</li>
                                <li>Author</li>
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <hr/>
        </div>
    {% endblock main %}

